@import "tailwindcss";

@theme {
  /* Warna Utama dari Palet Desain Lu */
  --color-primary: #0EA5E9;
  --color-secondary: #A0E9FF;
  --color-accent: #F59E0B;
  
  /* Background Terang Sesuai UI */
  --color-background: #F8FAFC; 
  --color-surface: #FFFFFF; 
  
  /* Warna gelapnya kita jadiin default buat teks */
  --color-text: #1E293B; 

  /* Tambahan Semantic */
  --color-danger: #EF4444;
  --color-success: #10B981;
}